<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    
    <title>Graph</title>
</head>
<body class="flex flex-row">

    <!-- Navegacao -->
    <div class="flex flex-col gap-4 w-1/6 min-h-screen bg-black text-white p-5">
        
        <h1 class="">Relátorios</h1>
        
        <!-- Pedidos -->
        <div class="flex flex-col gap-2">
            <p class="text-gray-500 text-sm uppercase font-semibold border-b border-gray-500">Pedidos</p>
            <a href="#" class="hover:text-blue-500">Aprovados</a>
            <a href="#" class="hover:text-blue-500">Cancelados</a>
        </div>
        
        <!-- Afiliados -->
        <div class="flex flex-col gap-2">
            <p class="text-gray-500 text-sm uppercase font-semibold border-b border-gray-500">Afiliados</p>
            <a href="#" class="hover:text-blue-500">Ativos mensal</a>
            <a href="#" class="hover:text-blue-500">Expirados</a>
            <a href="#" class="hover:text-blue-500">Próximo expirar</a>
        </div>
        
    </div>
    
    <!-- Conteudo -->
    <div class="w-5/6 p-5 bg-gray-50">
    {% block contents %}
    <!-- contents -->
    {% endblock contents %}
    </div>

</body>
</html>