<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    
    <title>Análise de dados</title>
</head>

<body class="flex flex-row">
    
    <!-- Navegacao -->
    {% include 'sidebar.html' %}
    
    <!-- Conteudo -->
    <div class="w-5/6 flex bg-white flex-col">
    
        <div class="w-full bg-gray-50 p-5 border-b flex flex-row justify-between">
            <div class="">Assinaturas Dashboard</div>
            <div>Menu</div>
        </div>
        
        {% block contents %}
        <!-- contents -->
        {% endblock contents %}
    
    </div>

</body>

</html>




