{% extends 'base.html' %}

{% block contents %}
<!-- Graph values pedidos-->
<input id="labels" type="hidden" value="{{ labels|safe }}">
<input id="datas" type="hidden" value="{{ datas|safe }}">
  
<!-- Container  -->
<div class="flex flex-col gap-5">

    <h2 class="font-semibold">Pedidos com status aprovado:</h2>

    <!-- Graph  -->
    <div class="flex w-3/6">
        <canvas id="myChart" width="300" height="200"></canvas>    
    </div>
    
</div>


<script>
// Graph values
labels = document.getElementById('labels').value
datas = document.getElementById('datas').value

const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels  : JSON.parse(labels),
        datasets: [{
            data           : JSON.parse(datas),
            backgroundColor: ['rgba(0,136,204, 0.8)'],
            borderColor    : ['rgb(0,136,204)'],
            borderWidth    : 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endblock contents %}
    