{% extends 'base.html' %}

{% block contents %}
<!-- Graph values pedidos-->
<input id="labels" type="hidden" value="{{ labels|safe }}">
<input id="datas" type="hidden" value="{{ datas|safe }}">
  


<!-- Container  -->
<div class="flex flex-row gap-5">
    
    <div class="flex flex-col gap-5 w-3/4">
            
        <div class="flex flex-row items-center justify-between">
            <!-- Titulo -->
            <h1 class="uppercase font-semibold">Pedidos com status aprovado</h1>
            <input type="text" placeholder="Pesquisar resultados..." class="outline-none rounded px-4 py-1 border focus:border-neutral-700 w-2/6">
        
        </div>
        
        
        <!-- Resultados -->
        <table class="table-auto border text-sm">
            <thead class="text-left">
                <tr class="bg-gray-100 border-b">
                    <th class="py-3 px-4">id</th>
                    <th>tipo pag.</th>
                    <th>desc. pag.</th>
                    <th>status</th>
                    <th>total</th>
                </tr>
            </thead>
            <tbody>
            {% for line in resultados %}
                <tr class="border-b">
                    <td class="py-3 px-4">{{ line.id }}</td>
                    <td>{{ line.payment_method }}</td>
                    <td>{{ line.payment_title }}</td>
                    <td>{{ line.status }}</td>
                    <td>{{ line.total }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </div>
    
    <div class="flex flex-col gap-5 text-center w-1/4">
        <!-- Titulo -->
        <h1 class="uppercase font-semibold text-left py-1 border border-white">Overview</h1>
        
        <div class="p-4 bg-gray-100 border">
            <canvas id="myChart" width="300" height="200"></canvas>    
        </div>
        
        <div class="p-4 bg-gray-100 border">
            <p class="text-xl font-semibold">R$ 5.000.000</p>
            <p class="text-gray-500 text-sm uppercase">faturamento</p>
        </div>
        <div class="p-4 bg-gray-100 border">
            <p class="text-xl font-semibold">R$ 5.000.000</p>
            <p class="text-gray-500 text-sm uppercase">faturamento</p>
        </div>
        <div class="p-4 bg-gray-100 border">
            <p class="text-xl font-semibold">R$ 5.000.000</p>
            <p class="text-gray-500 text-sm uppercase">faturamento</p>
        </div>
    </div>
    
</div>

<script>
// Graph values
labels = document.getElementById('labels').value
datas = document.getElementById('datas').value

const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels  : JSON.parse(labels),
        datasets: [{
            data           : JSON.parse(datas),
            backgroundColor: ['rgba(0,136,204, 0.8)'],
            borderColor    : ['rgb(0,136,204)'],
            borderWidth    : 2
        }]
    },
    options: {
        plugins:{
            legend: {
                display: false
            },
        },
        scales: {
            y: {
                display: false,
                beginAtZero: true
            },
            x:{
                display: true,
                grid: {
                    display:false,
                },
            }
        }
    }
});
</script>

{% endblock contents %}
