{% load html_helpers %}

<div class="flex flex-col gap-5">
    
    <!-- Title  -->
    <p class="w-full border-b text-left text-sm uppercase font-semibold text-gray-500 pb-1">Resultados</p>
            
    <!-- Resultados -->
    <table class="table-auto border bg-gray-50 text-sm text-gray-600">
        
        <thead class="text-left">
            <tr class="bg-gray-100 border-b text-gray-500">
                <th class="font-normal py-4 px-4">ID</th>
                <th class="font-normal">Ano</th>
                <th class="font-normal">Vendidos</th>
                <th class="font-normal">Faturamento</th>
            </tr>
        </thead>
        
        <tbody>
        {% for line in resultados %}
            <tr class="border-b">
                <td class="py-4 px-4">{{ line.id }}</td>
                <td>{{ line.year }}</td>
                <td>{{ line.qtd }}</td>
                <td>{{ line.faturamento|currency }}</td>
            </tr>
        {% endfor %}
        </tbody>
        
    </table>
    <!-- End resultados -->
    
</div>